@page {
  margin: 0;
  size: A4;
}

.print-mode article md-content__inner {
  margin: 0;
}

body.print-mode {
  box-sizing: border-box;
}

.print-mode .md-main__inner.md-grid {
  margin: 0;
}

.print-mode div.md-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 0;
}

.print-mode article {
  box-sizing: border-box;
  width: 210mm;
  height: 148.4mm;
  margin: 0 !important;
  padding: 7mm !important;
  overflow: visible;
  background: #fff;
  font-size: 0.7rem !important;
  /* border: 1px solid #000; */
  filter: grayscale(100%);
  display: flex;
  flex-direction: column;
  color: #000 !important;
}

.print-mode article::before {
  display: none;
}

.print-mode label.md-overlay[for="__drawer"],
.print-mode div[data-md-component="skip"],
.print-mode div[data-md-component="announce"],
.print-mode div.md-dialog,
.print-mode .paticka-narrow {
  display: none;
}

.print-mode hr {
  display: none;
}

.print-mode .print-only {
  display: block;
  margin-top: 0;
}

.print-mode h1 {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  text-align: center;
  margin-bottom: 0 !important;
  color: #000 !important;
}

.print-mode h2 {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 0 !important;
  font-size: 0.7rem !important;
  color: #000 !important;
}

.print-mode h3 {
  margin-top: 0.3rem !important;
  margin-bottom: 0.1rem !important;
  font-size: 0.8rem !important;
  color: #000 !important;
}

.print-mode h4 {
  margin-top: 0.3rem !important;
  margin-bottom: 0.1rem !important;
}

.print-mode ul, ol {
  margin-top: 0rem !important;
}

.print-mode li ul li {
  margin-bottom: 0 !important;
}

.print-mode .nikdy-nevynechej, .print-mode .tretina {
  color: #000;
}

.print-mode .md-sidebar, .print-mode .md-header {
  display: none !important;
}

.print-mode .column-wrapper {
  display: flex;
  justify-content: space-between;
}

.print-mode #discovery-main .column:nth-child(1) {
  flex-basis: calc(31% - 14px);
}

.print-mode #discovery-main .column:nth-child(2) {
  flex-basis: calc(33% - 14px);
}

.print-mode #discovery-main .column:nth-child(3) {
  flex-basis: calc(36% - 14px);
}

.print-mode #discovery-2nd-page .column:nth-child(1) {
  flex-basis: calc(60% - 14px);
}

.print-mode #discovery-2nd-page .column:nth-child(2) {
  flex-basis: calc(42% - 14px);
}

/* .print-mode #discovery-2nd-page .column:nth-child(3) {
  flex-basis: calc(25% - 14px);
} */

.print-mode #discovery-2nd-page a {
  color: #000 !important;
}

.print-mode #discovery-2nd-page p:has(img) {
  margin-top: 0 !important;
}

.print-mode body {
  background-color: #fff;
}

.print-mode .paticka-wide {
  margin-top: auto;
  display: flex;
}

.print-mode .paticka-wide p {
  margin: 0;
  font-size: 0.8em;
}

.print-mode .paticka-wide p:first-child {
  flex: 3;
  text-align: left;
}

.print-mode .paticka-wide p:last-child {
  flex: 1;
  text-align: right;
  margin-top: auto;
}
